.container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  width: 300px;
  /* height: 450px; */
  padding-top:12px;
  padding-bottom:12px;
border-radius: 8px;

}

.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 265px;
    height: 224px;
    background-color: green;
    margin: 0 auto;
    border-radius: 8px;
}
.cardDesc{
  font-size: 12px;
  color:var(--blue100);
  text-align: left;
  padding:0 10px;
}
.cardTitle{
  color:var(--blue100);
  text-align: left;
  padding-left: 10px;
}
/* .enrollBtn{
  padding: 5px 10px;
  background-color: var(--yellow);
  border:none;
  outline:none;
  border-radius:24px ;
  padding-left:16px;
  padding-right:16px;
  color:white;
  width: 100px;
  margin-left: 10px;
  cursor: pointer;
} */
.btnContainer{
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  align-items: center;
  color:var(--blue100);
  /* border:solid 1px red; */
}
.btnNew{
  padding:8px 24px;
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  margin-right: 5px;
  cursor: pointer;
  background-color: var(--yellow);
  width:100%;
  }
  .btnNew:hover{
    color:white;
  }
  .btnOld:hover{
    color:var(--yellow)
  }
.btnOld{
background-color: transparent;
padding:8px 24px;
margin-top: 10px;
border-radius: 20px;
border: solid 1px white;
color:var(--blue100);
border: solid 1px var(--blue100);
cursor: pointer;
margin-right: 10px;
width:100%;

}
