.mainContainer{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border:solid 1px red; */
    gap: 100px;
}
.textContainer{
    display: flex;
    flex-direction: column;
    flex:1;
    gap: 30px;

}
.imageContainer{
    flex: 1;
    
}
.img{
width: 100%;
object-fit: contain;
animation:move 1s ease infinite alternate;
}

@keyframes move{
    from{
        transform: translateY(-5px)
    }
    to{
        transform: translateY(5px)
    }
}
.enrollBtn{
    padding: 5px 10px;
    background-color: var(--yellow);
    border:none;
    outline:none;
    border-radius:48px ;
    padding:16px 16px;
    color:white;
    width: 150px;
    cursor: pointer;
}

/* Responsive */

@media only screen and (max-width: 600px){

    .container{
        margin-top:20px;
        display:flex;
        flex-direction: column;
        gap: 50px;
       
    }
    .img{
        width: 100%;
        margin: 0 auto;
        object-fit:cover;
        height: 200px;
    }
    .textContainer{
        gap:16px;
    }
    .title{
        font-size: 24px;
    }
    .desc{
        font-size: 16px;
    }
   
       
}