.container{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 50px;
    height: 100px;
    width: 100%;
    color:var(--blue100);
    background-color: #bbb;

  
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
   
    
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
   
   
}
.location{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  
    
}
.copyright{
    display: flex;
    padding:20px;
    justify-content: center;
   
   
 
}
.email{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

@media only screen and (max-width:600px){
    .container{
        flex-direction: column;
        justify-content: start;
        gap: 24px;
        font-size: small;
    }
    .copyright{
        text-align: center;
    }
    .location{
        justify-content: start;
        width: 100%;
    }
    .contact{
        justify-content: start;
        width: 100%;
       
    }
    .social{
        justify-content: start;
        width: 100%;
    }
}